<div class="card" id="changeModelPage">
  <div class="select">
    <select name="format" id="modelType" (change)="selectedModel($event)">
      <option selected disabled>Choose a model</option>
    </select>
  </div>

  <div class="buttons">
    <div class="button-container" *ngIf="this.model_loaded">
      <button class="button" id="change" (click)="changeModel()">Change</button>
    </div>
    <div class="button-container" *ngIf="!this.model_loaded">
      <button class="button" id="change" (click)="changeModel()">Load</button>
    </div>
    <div class="button-container">
      <button class="button" id="close" (click)="closeModel()">Close</button>
    </div>
  </div>
</div>
