  <div class="card">
    <div class="top">Settings</div>
    <div class="row">
      <div class="entry">threads</div>
      <input class="value" type="text"  [(ngModel)]="threads">
    </div>
    <div class="row">
      <div class="entry">top_k</div>
      <input class="value" type="text" [(ngModel)]="top_k">
    </div>
    <div class="row">
      <div class="entry">top_p</div>
      <input class="value" type="text"  [(ngModel)]="top_p">
    </div>

    <div class="row">
      <div class="entry">temp</div>
      <input class="value" type="text"   [(ngModel)]="temp">
    </div>

    <div class="row">
      <div class="entry">repeat_penalty</div>
      <input class="value" type="text"  [(ngModel)]="repeat_penalty">
    </div>

    <div class="row">
      <div class="entry">seed</div>
      <input class="value" type="text"  [(ngModel)]="seed">
    </div>

    <div class="row">
      <div class="entry">n_predict</div>
      <input class="value" type="text" [(ngModel)]="n_predict">
    </div>

    <div class="row">
      <div class="entry">repeat_last_n</div>
      <input class="value" type="text"  [(ngModel)]="repeat_last_n">
    </div>
    <div class="row">
      <div class="entry">batch_size</div>
      <input class="value" type="text"  [(ngModel)]="batch_size">
    </div>
    <div class="row">
      <div class="entry">antiprompt</div>
      <input class="value" type="text"  [(ngModel)]="antiprompt">
    </div>
    <div class="row">
      <div class="entry">models location</div>
      <input class="value" type="text"  [(ngModel)]="models_directory">
    </div>


    <div class="buttons">
      <div class="button-container">
        <button class="button" id="change" (click)="changeSetting()">Save</button>
      </div>
      <div class="button-container">
        <button class="button" id="close" (click)="closeSetting()">Close</button>
      </div>
    </div>
  </div>
